/* Extra resets */

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}


*, 
*:before, 
*:after {
    box-sizing: inherit;
}

/* Typography */

html {
    font-size: 14px;
}

.uppercase {
    text-transform: uppercase;
}

.capital {
    text-transform: capitalize;
}

section h2 {
    font-style: italic;
}

.white {
    color: white;
}

h1 {
    display:none;
    font-size: 3rem;
}

h2 {
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    font-size: 2.4rem;
    padding-bottom: 20px;
}
h3 {
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    color: #e2574c;  
    font-size: 1.5rem;
}

p {
    font-family: 'Raleway';
    font-size: 1.15rem;
    color: #2d2d2d;
    font-weight: 100;
}

span {
    font-weight: bold;
    font-style: normal;
}

.collection {
    font-family: 'Raleway', 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.2rem; 
}

.season {
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    font-size: 3rem;
}

a {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    color: #e2574c;
    text-decoration: none;
}

.nav-bar li a:hover {
    color: #b64036;
    background-color: rgba(179, 179, 179, 0.15);
}

/* breakpoint in 1240 and 600 and 500*/
/* LAYOUT */


.small-container {
    width: 720px;
margin: 0 auto; /* to center the element! */
}

.t-center {
    text-align: center;
}

/* header area */

/* .header-container, .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.logo {
    flex-basis:25%;
}

.header-img {
    width: 50%;
}

.shopping-cart {
    order: 1;
    flex-basis: 25%;
    text-align: right;
}

.cart-img {
    width: 20%;
}

.nav-items {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

/* .nav-items li a { /* inline-block is used here to make the clickable area "larger"*/
    /* display: inline-block;
    padding: 40px 25px;
} */


/* about area */

.styles {
    padding: 100px;
}

.styles p {
    padding-bottom: 15px;
}
/* shop area */

.shop-category {
    /* padding: 0; */
    display: flex;
    flex-wrap: wrap;
}

.wide-category.category-men {
    width: 50%;
    border: 4px solid white;
    border-left: 0;
}

.wide-category.category-women {
    width: 50%;
    border: 4px solid white;
    border-right: 0;
}

.sq-category.category-sale {
    width: 25%;
    border: 4px solid white;
    border-left: 0;
}

.category-men {
    padding: 100px;
    background-image: url(../images/mens-category.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover, cover;
}

.category-trend {
    padding: 100px ;
    background-image: url(../images/trends-category.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover, cover; /* 1 of the cover is for the gradient, and the other one is for the image */
}

.category-glasses {
    padding: 100px ;
    background-image: url(../images/glasses-category.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover, cover;
}

.category-sale {
    padding: 100px ;
    background-image: url(../images/sale-category.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 30%;
}

.category-bag {
    padding: 100px ;
    background-image: url(../images/bags-category.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.category-women {
    padding: 100px ;
    background-image: url(../images/womens-category.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* featured area */

.featured {
    padding-top: 110px;
}

/* updates area */

.updates {
    padding-top: 75px;
    margin: 0 0 8px 0;
    background-image: url(../images/wave-bkgd.jpg);
    background-repeat: no-repeat;
    background-position: center -550px;
    height: 327px;
}

.paragraph-box p {
    color: white;
    padding: 5px 0;
}

.paragraph-box {
    padding-bottom: 30px;
}

.sign-up {
color: white;
}

.newsletter {
    position: relative;
}

.newsletter input {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.email-area {
    font-size: 16px;
    font-weight:lighter;
    width: 400px;
    height: 45px;
    padding: 0 20px;
    border:0;
    border-radius: 23px;
}

.sub-btn {
    font-size: 16px;
    color: white;
    background-color: #e2574c;
    padding: 10px 10px;
    margin: 0;
    border: 0;
    border-radius: 20px;
    position: absolute;
    right: 163px;
    bottom:3px;
}

input[type="submit"]:hover {
    background-color: #b64036;
}


/* This part is the true mobile site */

/* HEADER AREA */

.header-container {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.header-img
 {
    max-width: 120px;
}

.cart-img {
align-self: flex-end;
flex: 0 1 50%;
max-height: 50px;
}

.menu-icons {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 15px 15px 10px;

}
.nav-bar {
    border-top: 1px solid #d7d7d7;
    justify-content: center;
    margin: 0 auto;

}
.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
/* border-top: 1px solid #d7d7d7; */
}


.nav-items li a { /* inline-block is used here to make the clickable area "larger"*/
    display: inline-block; 
    
    padding: 20px 25px;
}

/* banner area */

.banner {
    padding: 20px 0;
    height: 400px;
    /* you can put in multiple bg images */background-image: url(../images/banner-girl.png),url(../images/flower-bkgd.jpg);
    background-repeat: no-repeat, repeat-x;
    background-position: /* position banner girl because it's the first image */center 24px,top;
    background-size: contain, 619px;
    background-color: linear-gradient(180deg, rgba(0,0,0,.25));
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner p {
    margin-bottom: 1.5rem;
}

.banner-desc {
    position: absolute;
    top: 160px;
}


/* FOOTER AREA */

.footer-container {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-flow: wrap column;
}

.social-name { 
    display: none;

}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



@media screen and (min-width: 600px) {
    body {
        background-color: grey;
    }

    p {
        font-size: 1rem;
    }

    /* HEADER AREA */

    .header-container {
        display: flex; 
        padding: 10px;
    }        
    
    .nav-bar {
        border-top: none;
    }

    .nav-bar li a {
     padding: 20px 10px;
    }

.shopping-cart {
    order: 1;
}

    /* FOOTER AREA */

    .site-footer {
        padding-left: 0;
    }
    .footer-container {
        display: flex;  
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: left;
        flex-direction: row;
    }

.social {
    display: flex;
    flex-direction: column;
}
    .social-name {
        display: inline;
    }
}

    /* FOOTER AREA */
    footer {
        background-color: #242424;
        position: relative;
    }
    
    footer .store p,
     .social a,
     .contact p,
     .contact a {
        color: white;
    }
    
    .store  {
        padding-bottom: 20px;
    }
    
    .store p, .location p {
        padding-bottom: 5px;
    }
    
    .contact a {
        text-decoration: underline;
    }
    
    .social span {
        font-weight: lighter;
    }
    
    .find-us,
    .social {
        padding:20px;
    }
    
    .site-footer {
        padding: 50px 30px;
    }
    
    .find-us p,
    .find-us a {
        font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    }
    
    .location {
        padding-top: 20px;
    }
    
    .location p {
        color: #969696; 
    
    }
    
    .footer-container {
        display: flex;  
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1240px;
    }
    
    .fab {
        width:20px;
        padding: 0 30px 15px 0;
    } 


@media screen and (min-width: 1240px) {
    body {
        background-color: green;
    }

    .container {
        width: 1240px;
        margin: 0 auto; /* to center the element! */
    }
    
    
    
}
